html,body {
    margin:0;
    padding:0;
    background:#45405e;
    color:#efef;
}
.project_row{
    padding:20px 0px;

}
.tc {
    text-align: center;
}
.project_img_block{
    min-height:204px;
}
.project_block{
    box-sizing: border-box;
    padding:10px;
}
.cv_section{
    padding-top:20px;
    padding-bottom:0px;
}
.cv_sectionDivider{
    display:block;
    height:auto;
    margin-top:20px;
    text-align:center;
    background:#5C6BC0;
    color:#FFF;
}

.cv_sectionDivider h1{
    padding-top:20px;
    padding-bottom:20px;
    display:block;
}

#cv_container{
    padding:0 !important;
}

.cv_shortPoints{
    list-style:none;
    font-size:18px;
    text-align:center;
    font-weight:300;
}

.cv_shortPoints li{
    padding:5px;
}

.cv_start{
    display:block;
    height:120px;
    margin-top:-10px;
    color:#FFF;
    text-align:center;
    background:#5C6BC0;
}

.cv_icon{
    color:#8C9EFF;
}

.custom-button-light{
    text-decoration: none;
    border:1px solid #ccc;
    color:inherit;
}
.custom-button-light:hover {
    color:#6a8eae;
    border:1px solid #6a8eae;
}

.profile_picture{
    width:150px;
    height:auto;
    border-radius:10px;
    margin: 0 auto;
    display: block;
    margin-bottom:20px;
}

a.normal-link{
    color:#efef;
    text-decoration: underline;
}
a.normal-link:hover{
    color:#6a8eae;
}

#header_left {
    position: absolute;
    left:1rem;
    top:2rem;
    display:block;
}

.big_divider{
    width:100%;
    display: block;
    margin:20px 0px;
    background-color:#ccc;
    height:1px;
}
.clear {
    clear:both;
}

.modal-dialog {
    min-width:900px !important;
}
