html,body {
    margin:0;
    padding:0;
}
.project_row{
    padding:20px 0px;

}
.tc {
    text-align: center;
}
.project_img_block{
    min-height:204px;
}
.project_block{
    box-sizing: border-box;
    padding:10px;
}
.cv_section{
    padding-top:20px;
    padding-bottom:0px;
}
.cv_sectionDivider{
    display:block;
    height:auto;
    margin-top:20px;
    text-align:center;
    background:#5C6BC0;
    color:#FFF;
}

.cv_sectionDivider h1{
    padding-top:20px;
    padding-bottom:20px;
    display:block;
}

#cv_container{
    padding:0 !important;
}

.cv_shortPoints{
    list-style:none;
    font-size:18px;
    text-align:center;
    font-weight:300;
}

.cv_shortPoints li{
    padding:5px;
}

.cv_start{
    display:block;
    height:120px;
    margin-top:-10px;
    color:#FFF;
    text-align:center;
    background:#5C6BC0;
}

.cv_icon{
    color:#8C9EFF;
}
